$white: #ffffff;
$border: #b8ffec;
$black: #1b1c21;
$clear: rgba(0, 0, 0, 0.4);
$border-light: #d9fff5;
$min-gray: #f8f8f8;
$link-gray: #7e7e82;
$clear-two: rgba(28, 28, 28, 0);
$opacity: rgba(0, 0, 0, 0.1);